
#header {
  margin:0;
}


#side
{
  margin: 20px 0px 0px 0px;
  border: 8px solid #7E827A;
  border-radius: 14px;
}

ul 
{
  background: rgba(102,0,0,1);
  padding-top: 10px;
  padding-bottom:10px;
  margin:0;
}
    
li 
{
  display: inline;
  padding: 0px 40px 0px 0px;
  
  margin:0;
  font-family: 'Oswald', sans-serif;
  font-weight:100
  font-size:29px;
}
    
a
{ 
  color: #FFFFFF
}

#Bio {
  width:85%;
  margin-left: 10%;
  font-size: 25px
}


#contact  {
  margin-left:10%;
  font-size: 20px;
  text-align:left;
}

#topbar {
  position:center;
  bottom:0%;
  width:40%;
  float:center;
  text-align:center;
  margin:0 auto;
  border-radius:5px;
}

body {
  background: #2F343B;
}

aside{
  float:right;
  width:30%;
}
section{
  float: left;
  text-align:center;
  width:60%;
  color:#FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  margin-left: 2%;

}
.social {
  position: relative;
  width: 100%;
  text-align: center;
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #FFF2E7;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 70px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: #660000;
  margin-left: -5px;
  transform: translate(10px) rotate(360deg);
}

.youtube {
  background-color: #E3CDA4;
  color: white;
}

.twitter {
  background-color: #E3CDA4;
  color: white;
}

.facebook {
  background-color: #E3CDA4;
  color: white;
}

#Bio{
text-align:left

}

@media (max-width: 1300px)
  {
    li{
    padding: 0px 10px 0px 0px;
    margin:0;
  }
}
@media (max-width: 1000px)
  {
    li{
    padding: 0;
    margin:0;
  }
}


@media (max-width: 800px)
{
 #Bio 
  {
    font-size: 16px;
  }
  #contact{
    font-size:12px;
  }
  li{
    display:block;
  }
  #side{
    width:100px;
    height: auto;

  }
}
#rosie 
{
  font-size: 14px;
  color: #C77966;
  text-align: left;
}

    